* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;

  &::-webkit-scrollbar {
    cursor: pointer;
    width: 7px; /* width of the entire scrollbar */
  }

  &::-webkit-scrollbar-track {
    cursor: pointer;
    background: transparent; /* color of the tracking area */
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: gray; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: none; /* creates padding around scroll thumb */
  }
}

html {
  @media screen and (max-width: $medium) {
    font-size: 15px;
  }

  @media screen and (max-width: $small) {
    font-size: 12px;
  }
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

input[type="submit"],
button {
  cursor: pointer;
}

input,
button,
textarea {
  outline: none;
}

.App {
  height: 100vh;
  width: 100vw;
}

.window {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  max-height: 100%;
  max-width: 100%;
  border-radius: 0.5rem;
  border: none;
  resize: both;
  overflow: hidden;
}

.header {
  height: 4rem;
  background-color: #2b2b2b;
}

.exit-button {
  transition: 0.2s all ease;

  &:hover {
    transform: scale(1.1);
    color: #d98324;
  }
}

.overflow-auto {
  overflow: auto;
}

.pointer {
  cursor: pointer;
}
