.camera {
  min-width: 50%;
  min-height: 50%;
  height: 70%;

  video {
    height: calc(100% - 4rem);
    width: 100%;
    background-color: #343434;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  .controls {
    position: absolute;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);

    svg {
      box-sizing: content-box;
      background-color: rgb(13, 12, 24);
      padding: 1rem;
      border-radius: 0.5rem;
    }
  }

  @media screen and (max-width: $medium) {
    width: 90%;
  }
}
