.folder {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 70%;
  height: 50%;
  background: #343434;
  border-radius: 0.5rem;
  resize: both;

  .header {
    position: absolute;
    top: 0;
    left: 0;
    height: 3rem;
    width: 100%;
    background-color: #2b2b2b;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    .folder-control-button {
      background: #222222;
      border-radius: 0.25rem;
      transition: 0.2s all ease;

      &:hover {
        transform: scale(1.1);

        svg {
          color: #d98324;
        }
      }
    }

    .title {
      color: white;
      font-size: 1.5rem;

      @media screen and (max-width: $medium) {
        font-size: 1.2rem;
      }

      @media screen and (max-width: $small) {
        font-size: 1rem;
      }
    }

    .filter-input {
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      outline: none;
      border: none;
      background: white;
    }

    .exit-button {
      transition: 0.2s all ease;

      &:hover {
        color: #d98324;
        transform: scale(1.1);
      }
    }
  }

  .folder-body {
    position: absolute;
    top: 3rem;
    left: 0;
    height: calc(100% - 3rem);
    width: 100%;
    overflow: auto;

    table {
      width: 100%;
      border-spacing: 1em;

      tr {
        margin-bottom: 1rem;

        td {
          color: white;
          font-weight: 500;
          white-space: nowrap;
        }
      }
    }

    &::-webkit-scrollbar {
      cursor: pointer;
      width: 7px; /* width of the entire scrollbar */
    }

    &::-webkit-scrollbar-track {
      cursor: pointer;
      background: transparent; /* color of the tracking area */
    }

    &::-webkit-scrollbar-thumb {
      cursor: pointer;
      background-color: gray; /* color of the scroll thumb */
      border-radius: 20px; /* roundness of the scroll thumb */
      border: none; /* creates padding around scroll thumb */
    }
  }

  @media screen and (max-width: $medium) {
    width: 90%;
  }
}
