@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500&display=swap");
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

*::-webkit-scrollbar {
  cursor: pointer;
  width: 7px;
  /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  cursor: pointer;
  background: transparent;
  /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: gray;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: none;
  /* creates padding around scroll thumb */
}

@media screen and (max-width: 900px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 650px) {
  html {
    font-size: 12px;
  }
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

input[type="submit"],
button {
  cursor: pointer;
}

input,
button,
textarea {
  outline: none;
}

.App {
  height: 100vh;
  width: 100vw;
}

.window {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  max-height: 100%;
  max-width: 100%;
  border-radius: 0.5rem;
  border: none;
  resize: both;
  overflow: hidden;
}

.header {
  height: 4rem;
  background-color: #2b2b2b;
}

.exit-button {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.exit-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #d98324;
}

.overflow-auto {
  overflow: auto;
}

.pointer {
  cursor: pointer;
}

.custom-input {
  position: relative;
  width: 100%;
}

.custom-input input {
  width: 100%;
  outline: none;
  border: none;
  padding: 1.2rem 1rem;
  color: white;
}

.custom-input svg {
  color: gray;
  position: absolute;
  z-index: 1;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.custom-input input:not([type="submit"]) {
  background-color: #272727;
  border-radius: 0.5rem;
}

.custom-input input[type="submit"] {
  background-color: #eb4511;
  background-image: linear-gradient(315deg, #eb4511 0%, #b02e0c 74%);
  border-radius: 0.25rem;
  outline: none;
  border: none;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.custom-input input[type="submit"] ~ svg {
  color: white;
}

.custom-input input::-webkit-input-placeholder {
  opacity: 0;
}

.custom-input input:-ms-input-placeholder {
  opacity: 0;
}

.custom-input input::-ms-input-placeholder {
  opacity: 0;
}

.custom-input input::placeholder {
  opacity: 0;
}

.custom-input .floating-label {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: gray;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  cursor: text;
}

.custom-input input:focus ~ .floating-label,
.custom-input input:not(:placeholder-shown) ~ .floating-label {
  top: 11px;
  left: 15px;
  font-size: 10px;
  opacity: 1;
}

.custom-input:hover input[type="submit"] {
  font-size: 1.25rem;
  padding: 0;
}

.editName-input {
  background-color: transparent;
  font-size: 1.5rem;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  outline: none;
}

@media screen and (max-width: 900px) {
  .editName-input {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 650px) {
  .editName-input {
    font-size: 1rem;
  }
}

.custom-button {
  color: #747474;
  border: 2px solid #747474;
  padding: 0.75rem;
  border-radius: 1rem;
  background: transparent;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.custom-button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: white;
  border-color: white;
}

@media screen and (max-width: 650px) {
  .custom-button svg {
    width: 1.5em;
    height: 1.5rem;
  }
}

.add-button {
  background: #484848;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  border-radius: 0.5rem;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.add-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #d98324;
}

.add-button:hover svg {
  color: #d98324;
}

.delete-button {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.login {
  height: 100%;
  width: 100%;
  background-color: #121212;
}

.login .titles img {
  max-width: 20rem;
}

.login .titles h1 {
  font-size: 4rem;
  color: #7c1f08;
}

.login .titles h2 {
  font-size: 2rem;
  color: #494949;
}

.login form {
  width: 20%;
}

.login form input[type="submit"] {
  height: 4rem;
  width: 100%;
  outline: none;
  border: none;
  padding: 1rem;
  color: white;
  font-size: 1rem;
  background-color: #eb4511;
  background-image: linear-gradient(315deg, #eb4511 0%, #b02e0c 74%);
  border-radius: 0.25rem;
  outline: none;
  border: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

@media screen and (max-width: 1400px) {
  .login .titles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .login .titles h1 {
    font-size: 3rem;
  }
  .login .titles h2 {
    font-size: 1.5rem;
  }
  .login form {
    width: 30%;
  }
}

@media screen and (max-width: 900px) {
  .login {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .login form {
    width: 60%;
    margin-top: 5rem;
  }
}

.desktop {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #0e0e0e;
}

.desktop .background {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  width: 25rem;
  opacity: 0.4;
}

.desktop .viewer {
  position: absolute;
  left: 7rem;
  height: 100%;
  width: calc(100vw - 7rem);
}

@media screen and (max-width: 900px) {
  .desktop .viewer {
    top: 7rem;
    left: 0;
    height: calc(100% - 7rem);
    width: 100%;
  }
}

.control-panel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 7rem;
  padding: 1rem;
  overflow: auto;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .control-panel {
    left: 0rem;
    top: 0;
    height: 7rem;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-x: hidden;
  }
  .control-panel button:not(:last-child) {
    margin-right: 1rem;
  }
}

.header {
  border: none;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  color: white;
}

.header span {
  font-size: 1.5rem;
}

@media screen and (max-width: 900px) {
  .header span {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 650px) {
  .header span {
    font-size: 1rem;
  }
}

.header .search {
  position: relative;
  width: 50%;
}

.header .search input {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  border: none;
}

.header .search svg {
  position: absolute;
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.folder {
  min-width: 50%;
  height: 50%;
  background: #343434;
}

.folder .header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.folder .header .folder-control-button {
  background: #222222;
  border-radius: 0.25rem;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.folder .header .folder-control-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.folder .header .folder-control-button:hover svg {
  color: #d98324;
}

.folder .header .title {
  color: white;
  font-size: 1.5rem;
}

@media screen and (max-width: 900px) {
  .folder .header .title {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 650px) {
  .folder .header .title {
    font-size: 1rem;
  }
}

.folder .folder-body {
  position: absolute;
  top: 4rem;
  left: 0;
  height: calc(100% - 4rem);
  width: 100%;
  overflow: auto;
}

.folder .folder-body table {
  width: 100%;
  border-spacing: 1em;
}

.folder .folder-body table tr {
  margin-bottom: 1rem;
}

.folder .folder-body table tr td {
  color: white;
  font-weight: 500;
  white-space: nowrap;
}

@media screen and (max-width: 900px) {
  .folder {
    width: 90%;
  }
}

.file {
  width: 33%;
  height: 50%;
  background: #2b2b2b;
  color: white;
  border: 1px solid #0e0e0e;
  -webkit-box-shadow: 0px 0px 5px #2b2b2b;
          box-shadow: 0px 0px 5px #2b2b2b;
}

.file textarea {
  width: 100%;
  height: calc(100% - 4rem);
  margin: 0;
  border: none;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  outline: none;
  font-size: 1rem;
  resize: none;
}

@media screen and (max-width: 1100px) {
  .file {
    width: 50%;
  }
}

@media screen and (max-width: 900px) {
  .file {
    width: 70%;
  }
}

@media screen and (max-width: 650px) {
  .file {
    width: 90%;
  }
}

.browser {
  height: 75%;
  min-height: 75%;
  min-width: 50%;
}

.browser iframe {
  height: calc(100% - 4rem);
  width: 100%;
  border: none;
  background-color: white;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

@media screen and (max-width: 900px) {
  .browser {
    width: 80%;
  }
}

@media screen and (max-width: 650px) {
  .browser {
    width: 90%;
  }
}

.camera {
  min-width: 50%;
  min-height: 50%;
  height: 70%;
}

.camera video {
  height: calc(100% - 4rem);
  width: 100%;
  background-color: #343434;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.camera .controls {
  position: absolute;
  left: 50%;
  bottom: 2rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.camera .controls svg {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-color: #0d0c18;
  padding: 1rem;
  border-radius: 0.5rem;
}

@media screen and (max-width: 900px) {
  .camera {
    width: 90%;
  }
}

.gallery {
  height: 70%;
  min-width: 50%;
  background: #343434;
  resize: both;
  display: block;
  overflow: auto;
}

.gallery .gallery-body {
  position: relative;
  height: calc(100% - 4rem);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (250px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: auto;
}

.gallery .gallery-body .title {
  white-space: nowrap;
  width: 150px;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 1rem;
  color: white;
}

.gallery .gallery-body .gallery-image {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.gallery .gallery-body .gallery-image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.gallery .gallery-body .view-image {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: #000000e8;
}

.gallery .gallery-body .view-image svg {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.gallery .gallery-body .view-image img {
  width: 100%;
  max-width: 600px;
}

@media screen and (max-width: 900px) {
  .gallery {
    width: 80%;
  }
}

@media screen and (max-width: 650px) {
  .gallery {
    width: 90%;
  }
}

.news {
  height: 70%;
  min-width: 50%;
  background: #343434;
  resize: both;
  display: block;
  overflow: auto;
}

.news .news-body {
  position: relative;
  height: calc(100% - 4rem);
  overflow-y: auto;
}

.news .news-body div {
  border: 1px solid #aa651bda;
}

.news .news-body .title {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #d98324;
}

.news .news-body .content {
  color: white;
  font-size: 1rem;
}

.news .news-body .email {
  color: #b3281e;
  font-weight: 500;
  font-style: italic;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .news {
    width: 70%;
  }
}

@media screen and (max-width: 650px) {
  .news {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */